[General]
# Possible levels (must be UC-only): CRITICAL, ERROR, WARNING, INFO, DEBUG
# default: DEBUG
loglevel = DEBUG
# logformat, see https://docs.python.org/2/library/logging.html#logrecord-attributes
# default: [%(filename)
logformat = [%(pathname)s:%(lineno)d] %(message)s

[SaveFormat]

# Following Strings in the SavePath will be replaced (time will be replaced with the current time at download, not execution of the script):
#
# %time(<code>) = will be replaced with strftime(<code>) where <code> is a string, explained further here: http://strftime.org/
# %timestamp    = current unix-timestamp
# %domain       = the domain of the crawled file (e.g. zeit.de)
# %full_domain  = the domain including subdomains (e.g. panamapapers.sueddeutsche.de)
# %directory_string = The directories on the server (e.g. http://panamapapers.sueddeutsche.de/articles/56f2c00da1bb8d3c3495aa0a/ would evaluate to articles_56f2c00da1bb8d3c3495aa0a), no filename
# %file_name    = The file name (without type) on the server (e.g. http://www.spiegel.de/wirtschaft/soziales/ttip-dokumente-leak-koennte-ende-der-geheimhaltung-markieren-a-1090466.html would evaluate to ttip-dokumente-leak-koennte-ende-der-geheimhaltung-markieren-a-1090466, No filenames (indexes) will evaluate to index
#
# default: "%full_domain/%directory_string/%file_name_%timestamp"

SavePath = %full_domain/%directory_string/%file_name_%timestamp
